
  :root{  --button-bg-color:#8B4513;
    --nav-color:#D2B4BC;
    --dark-color:#333333;
    --shadow-white-color:#F5F5F5;
    --white-color:#FFFFEF;
    --background-color:#5C3A21;
    --h1-color:#8B4513;


     
    --card-radius: 12px;
    --space: 25px;

}
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     }

 body {
margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
background-color: #d99547be;
background-position: cover;
background-repeat: no-repeat;
 }
 h1,h2, h3{
    font-family: "Poppins", sans-serif;
 }

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: rgba(51,51,51,.95);
    backdrop-filter: blur(12px);
    box-shadow: 0 5px 20px rgba(0,0,0,.15);
    animation: fadeUp .8s ease;
}

.logo{
    transition:.3s;
}

.logo:hover{
    transform:scale(1.05);
}

.logo a{
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    color:#fff;
    font-size:30px;
    font-weight:700;
}

.logo i{
    color:#d48b1f;
    font-size:34px;
}

.nav_links{
    display:flex;
    align-items:center;
    gap:30px;
    list-style:none;
}

.nav_links li{
    list-style:none;
    animation: fadeUp .8s ease forwards;
}

.nav_links a{
    text-decoration:none;
    color:#fff;
    font-size:17px;
    font-weight:500;
    position:relative;
    transition:.3s;
}

.nav_links a:hover{
    color:#d48b1f;
}

.nav_links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:2px;
    background:#d48b1f;
    transition:.3s;
}

.nav_links a:hover::after{
    width:100%;
}


.nav_button{
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#8B4513;
    color:rgb(225, 102, 102);
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.nav_button:hover{
    background:#a85d20;
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(139,69,19,.35);
}




.cart_icon{
    position:relative;
    font-size:22px;
}

#cartCount,
#mobileCartCount{
    position:absolute;
    top:-10px;
    right:-12px;
    width:20px;
    height:20px;
    background:red;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:11px;
    font-weight:bold;
}



.menu_icon{
    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}
@keyframes fadeUp {
    from{
        opacity:0;
        transform:translateY(-20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}




.side-bar{
    position:fixed;
    top:0;
    right:0px;
    width:280px;
    height:100vh;
    background:rgba(40,40,40,.98);
    backdrop-filter:blur(15px);
    display:flex;
    flex-direction:column;
    padding:30px;
    gap:25px;
    transition:.4s;
    z-index:2000;
}

.side-bar li{
    list-style:none;
    
}

.side-bar a{
    text-decoration:none;
    color:white;
    font-size:18px;
}

.side-bar li:hover{
    background: #594017c7;
}

.close_btn{
    color:white;
    font-size:28px;
    cursor:pointer;
    margin-bottom:20px;
}

.side-bar_button{
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(#ed6c3c, #e9d2d2);
    border-radius: 18px;
}



@media(max-width:900px){

.nav_links{
    display:none;
}

.menu_icon{
    display:block;
}


    .experience_card,
    .review_card{
        display:none;
    }


}




.nav_links li:nth-child(1){
    animation-delay:.2s;
}

.nav_links li:nth-child(2){
    animation-delay:.3s;
}

.nav_links li:nth-child(3){
    animation-delay:.4s;
}

.nav_links li:nth-child(4){
    animation-delay:.5s;
}

.nav_links li:nth-child(5){
    animation-delay:.6s;
}






/* ================= GET QUOTE FORM ================= */

.form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 95%;
    max-width:520px;
    max-height:90vh;
    overflow-y:auto;

    background: #fff;
    padding: 35px;
    border-radius: 18px;

    display: none;
    flex-direction: column;

    box-shadow: 0 20px 50px rgba(0,0,0,.25);

    z-index: 9999;

    animation: popup .35s ease;
    padding:35px;
    padding-bottom:50px;
}

@keyframes popup{
    from{
        opacity:0;
        transform:translate(-50%,-45%) scale(.9);
    }

    to{
        opacity:1;
        transform:translate(-50%,-50%) scale(1);
    }
}

.form img{
    width:30px;
    align-self:flex-end;
    cursor:pointer;
    margin-bottom:10px;
    transition:.3s;
}

.form img:hover{
    transform:rotate(90deg);
}

.form h2{
    text-align:center;
    color:#8B4513;
    margin-bottom:8px;
    font-size:30px;
}

.form p{
    text-align:center;
    color:#666;
    margin-bottom:30px;
    line-height:1.6;
}

.form label{
    font-weight:600;
    color:#333;
    margin-bottom:8px;
}

.form input,
.form select,
.form textarea{
    width:100%;
    padding:14px 16px;

    border:1px solid #ddd;
    border-radius:10px;

    font-size:16px;
    font-family:Poppins,sans-serif;

    margin-bottom:20px;

    outline:none;

    transition:.3s;
}

.form input:focus,
.form select:focus,
.form textarea:focus{

    border-color:#8B4513;

    box-shadow:0 0 10px rgba(139,69,19,.2);

}

.form textarea{

    resize:vertical;

    min-height:120px;

}

.quote_btn{

    width:100%;

    padding:16px;

    background:#8B4513;

    color:white;

    border:none;

    border-radius:10px;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.quote_btn:hover{

    background:#a85d20;

    transform:translateY(-3px);

    box-shadow:0 10px 25px rgba(139,69,19,.3);

}

.quote_btn i{

    margin-right:8px;

}

@media(max-width:600px){

.form{

    width:92%;

    padding:25px;

}

.form h2{

    font-size:24px;

}

}

.form h2 i{
    color:#8B4513;
    margin-right:10px;
}

.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    display:none;
    z-index:9998;
}

.overlay:hover{
    color:#8B4513;
    transform:rotate(90deg);
}


.input_box{
    position:relative;
    margin-bottom:20px;
}

.input_box i{
    position:absolute;
    left:18px;
    top:50%;
    transform:translateY(-50%);
    color:#8B4513;
    font-size:18px;
}

.input_box input,
.input_box select{
    width:100%;
    padding:15px 15px 15px 50px;
}

.quote_btn{
    width:100%;
    height:55px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#8B4513,#b86b2b);
    color:#fff;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    transition:.35s;
    margin-top:20px;
}

.quote_btn:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(139,69,19,.35);
}

.quote_btn:active{
    transform:scale(.98);
}

.quote_btn i{
    font-size:18px;
}





.success_message{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(.8);
    width:90%;
    max-width:420px;
    background:#fff;
    padding:40px 30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 25px 60px rgba(0,0,0,.25);
    display:none;
    z-index:10001;
    animation:pop .35s ease;
}

.success_message i{
    font-size:70px;
    color:#28a745;
    margin-bottom:15px;
}

.success_message h2{
    color:#222;
    margin-bottom:10px;
}

.success_message p{
    color:#666;
    line-height:1.7;
    margin-bottom:25px;
}

.success_message button{
    background:#8B4513;
    color:#fff;
    border:none;
    padding:14px 35px;
    border-radius:10px;
    cursor:pointer;
}

@keyframes pop{
    from{
        transform:translate(-50%,-50%) scale(.7);
        opacity:0;
    }
    to{
        transform:translate(-50%,-50%) scale(1);
        opacity:1;
    }
}



.search-container{
    align-self: center;
    justify-self: center;
    width: min(600px,90%);
    height: 5vh;
    padding: 5px;
    display: flex;
    margin:20px auto;
    border-radius: 10px;
}
.search-container input{
    width: 100%;
    height: 100%;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c26718d3;
    padding-left:8px ;
}
.search-container input:focus{
    background-color: #c8919138;
    color: #020000fc;
}




.filter_buttons{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    margin:20px 0;
}

.filter_buttons button{
    padding:10px 20px;
    border:none;
    border-radius:25px;
    background:#8B4513;
    color:white;
    cursor:pointer;
    transition:.3s;
    font-weight:bold;
}

.filter_buttons button:hover,
.filter_buttons button.active{
    background:#d2691e;
}






@media (max-width: 720px) {
    .door_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background: transparent;
    }
}

.door_container{
    width:100%;
    padding:10px;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(240px, 1fr));
    gap:20px;
    align-items:start;
}
.door_cards{
    width: 100%;
    min-height: 430px;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    background-color: #eae4e1cd;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    transition: .3s;
    position: relative;
    overflow: hidden;

}

.product_badge{
    position:absolute;
    top:10px;
    left:10px;

    background:#ff4d4d;
    color:white;

    padding:6px 12px;

    border-radius:20px;

    font-size:12px;

    font-weight:bold;
}

.wishlist{
    position:absolute;

    top:10px;

    right:10px;

    width:40px;

    height:40px;

    background:white;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    font-size:20px;

    transition:.3s;
}

.wishlist:hover{
    color:red;
    transform:scale(1.15);
}



.rating{
    color:gold;
    margin:10px 0;
    text-align:center;
}

.rating span{
    color:#333;
    margin-left:5px;
}

.door_cards:hover{
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
    transform:translateY(-3px);
}


.door_cards_image{
    width:100%;
    height:220px;
    overflow:hidden;
    border-radius:12px;
}

.door_cards_image img{
    width:100%;
    height:100%;
    object-fit:cover;
    
}

.door_cards:hover{
    transform:scale(1.08);
}


.door_cards h3{
padding-bottom: 5px;
color: #020202;
padding-top:3px;
text-align: center;
margin-top: 8px 0;
line-height: 1.4;
font-weight: 600;
font-size: 16px;
  /* 1. Forces all text onto a single line */
  overflow: hidden;
  text-overflow: ellipsis;
}


.door_type{
    margin: 2px;
    margin-left: 5%;
    font-weight: bold;
    padding: 1px;
}
.door_size{
    margin: 2px;
    margin-left: 5%;
    padding: 1px;
}
.door_price{
    font-size:28px;
    font-weight:700;
    color:#8B4513;
    margin:12px 0;
}

.door_cards button{
    width: 80%;
    height: 45px;
    margin: 12px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background: #8B4513;
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
    transition: all .3s ease;
}

.door_cards button:hover{
    background: #5f2f0b;
    transform: scale(1.03);
}




.product_popup{
    position:fixed;
    inset:0;

    display:none;
    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.6);
    backdrop-filter:blur(6px);

    z-index:5000;
}

.popup_card{

    width:90%;
    max-width:900px;

    background:#fff;

    border-radius:20px;

    display:grid;
    grid-template-columns:1fr 1fr;

    overflow:hidden;

    animation:popup .35s ease;
}

.popup_left{
    background:#f8f8f8;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.popup_left img{
    width:100%;
    max-height:380px;
    object-fit:contain;
}

.popup_right{
    padding:40px;
}

.popup-name{
    font-size:32px;
    margin-bottom:15px;
}

.popup_price{
    color:#8B4513;
    font-size:30px;
    margin:20px 0;
}

.quantity_box{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    margin:20px 0;
}

.quantity_box button{
    width:45px;
    height:45px;
    border:none;
    border-radius:8px;
    background:#8B4513;
    color:#fff;
    font-size:24px;
    cursor:pointer;
    transition:.3s;
}

.quantity_box button:hover{
    background:#a85d20;
}

.quantity_box input{
    width:70px;
    height:45px;
    text-align:center;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:20px;
    font-weight:600;
}
.buy_btn{

    width:100%;

    padding:16px;

    background:#8B4513;

    color:white;

    border:none;

    border-radius:8px;

    font-size:18px;

    cursor:pointer;
}

.buy_btn:hover{

    background:#a85d20;

}

.close_popup{

    position:absolute;

    top:20px;

    right:20px;

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    background:white;

    cursor:pointer;

    font-size:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.2);

}


@keyframes popup{

from{

opacity:0;

transform:scale(.85);

}

to{

opacity:1;

transform:scale(1);

}

}



@media(max-width:768px){

.popup_card{

grid-template-columns:1fr;

width:95%;

}

.popup_left{

padding:20px;

}

.popup_right{

padding:25px;

}

.popup-name{

font-size:24px;

}

}

.popupImage{
    transition:.4s;
}

.popupImage:hover{
    transform:scale(1.05);
}

.buy_btn{
    transition:.3s;
}

.buy_btn:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(139,69,19,.35);
}

.quantity_box button:active{
    transform:scale(.9);
}





.wishlist.liked{
    background:#ff4d4d;
}

.wishlist.liked i{
    color:white;
}



.price_box{
    display:flex;
    flex-direction:column;
    gap:4px;
    margin:10px 0;
    text-align:center;
}

.price_row{
    display: flex;
    align-items: center;
    gap: 10px;
}

.old_price{
    color:#888;
    text-decoration:line-through;
    font-size:15px;
}

.door_price{
    font-size:28px;
    font-weight:700;
    color:#8B4513;
}

.discount{
    width:fit-content;
    margin:auto;
    background:#ff4d4d;
    color:white;
    padding:4px 10px;
    border-radius:20px;
    font-size:12px;
    font-weight:bold;
}media (max-width:768px){

  
